/config.yml
/nonebot_plugins.json
/.env.prod
/data/
/tests/
/ATRI-LK-plugin/
/plugins/
__pycache__/
/.idea/
*.pyc
!/plugins/rss/__init__.py
!/plugins/fortune/
!/plugins/lkchat/
!/plugins/lkfarm/
!/plugins/lkpet/
!/plugins/lkfishing/
!/plugins/signin.py
!/plugins/feed.py
