/config.yml
/config_backup.yml
/nonebot_plugins.json
/data/
/tests/
/ATRI-LK-plugin/
/plugins/*
__pycache__/
/.idea/
/.vscode/
*.pyc
!/plugins/rss/
/plugins/rss/*
!/plugins/rss/__init__.py
!/plugins/fortune/
!/plugins/lkchat/
!/plugins/lkfarm/
!/plugins/lkpet/
!/plugins/lkfishing/
!/plugins/signin/
!/plugins/feed.py
